# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/fontend/dist
/fontend/tmp
/fontend/out-tsc
/fontend/bazel-out

# Node
/fontend/node_modules
/fontend/npm-debug.log
/fontend/yarn-error.log

# IDEs and editors
/fontend.idea/
/fontend.project
/fontend.classpath
/fontend.c9/
/fontend*.launch
/fontend.settings/
/fontend*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/fontend/.angular/cache
/fontend.sass-cache/
/fontend/connect.lock
/fontend/coverage
/fontend/libpeerconnection.log
/agapptestem.log
/fontend/typings

# System files
/fontend/.DS_Store
/fontend/Thumbs.db
