
<div class="d-flex justify-content-between my-2">
    <h4>User List</h4>
    <button class="btn btn-primary" routerLink="/hero-form">add</button>
  </div>
  
  
  <app-alert *ngIf="message" [message]="message"></app-alert>
  
  <ul class="list-group">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let user of users">
      <div class="d-flex justify-content-between">
        <a class="text-decoration-none" routerLink="/user-form/{{user.email}}">
          <span class="badge">{{ user.email }}</span>
          {{ user.email }}
        </a>
      </div>
    </li>
  </ul>

  <!-- {{ heroFormGroup.value | json }} -->

  <hr>
  